{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-6 offset-3">
            <h1 class="text-center">Modification Du profil</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">


    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    <a class="btn btn-dark"  href="{{  path('user_show', {'id': user.id}) }}">Retour au profil</a>

        </div>
    </div>
</div>


{% endblock %}
