{% extends 'base.html.twig' %}

{% block title %}S'inscrire !{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('home') }}">Retour à l'accueil</a>
{% endblock %}
