{{ form_start(form) }}

    {{ form_row(form.recherche)}}

    <h4>Thèmes</h4>
    {{ form_row(form.themes) }}


<button type="submit" class="btn btn-dark w-75 mb-4 mt-4">Filtrer</button>
{{ form_end(form) }}