{% extends 'base.html.twig' %}

{% block title %}Product index
{% endblock %}

{% block body %}

	{# Navbar #}


	{# Header #}

		<h1 class="text-left ml-3"> Product index</h1>

	{# Filtre de recherche #}
	<div class="row p-0 m-0">
		<div class="col-3">
			{% include 'product/_filter.html.twig' with {form: form} only %}

			{# Tags #}
			<h2>TAGS</h2>
			<textarea id="tags" name="tags"></textarea>
		</div>


		{# Promotion #}
		<div class="col-9">
			<a href="{{ path('product_index') }}">
				<img class="img-fluid" src="{{ asset('images/index/sterling-lanier-DY6h8v2rqzM-unsplash.jpg') }}" alt=""></a>
			{# <div class="count mt-2">
							<h1>
								<b>Liste des produits({{ products.getTotalItemCount }})</b>
							</h1>
						</div> #}

			{# Affichage produits #}
			<div class="row">
				{% for product in products %}
					<div class="col-4 text-center mt-3">
						<div class="grid">
							{% include 'product/_card.html.twig' with {product: product} only %}
						</div>
					</div>
				{% endfor %}

				{# Pagination #}
				<div class="col-12">
					<div
						class="navigation mt-5"> {{ knp_pagination_render(products) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
